In [1]:
print("hello")

hello

# data type

a1=10
a1

In [3]:
type(a1)

int

In [4]:
a1=3+4j

In [5]:
type(a1)

complex

# PYTHON BOOLEANS

In [1]:
print(bool("Hello"))
print(bool(15))

True
True

In [2]:
bool(False)#In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False. 
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [4]:
#Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:
x = 200
print(isinstance(x, int))

True

# operators

In [ ]:
#arithmetic opreators

In [14]:
# +,-,*,/

In [15]:
a=10
b=20

In [16]:
a,b

(10, 20)

In [17]:
a+b

30

In [18]:
a-b

-10

In [ ]:
# relational(Comparsion) opreators

In [ ]:
# <,>,==,!=

In [19]:
a=50
b=100
a>b

False

In [ ]:
# logical opreators
# & |
a=True
b=False
a|b

In [22]:
a&b

False

In [23]:
b&b

False

In [ ]:
# Python Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

Operator
is 	
Returns True if both variables are the same 
object	x is y	
is not
Returns True if both variables are not the same 
object	x is not y

In [ ]:
# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object:

in 	Returns True 
if a sequence with the specified value is present in the 
object	x in y	
not in	
Returns True
if a sequence with the specified value is not present in the 
object	x not in y

In [ ]:
Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111

In [ ]:
#Python Bitwise operators
1.& 	AND	Sets each bit to 1 if both bits are 1	x & y
eg- 6&3
6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
2.|	OR	Sets each bit to 1 if one of two bits is 1	x | y
eg- 6|3
6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
3.^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y	
eg- 6^3
6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
4.~	NOT	Inverts all the bits	~x
eg- ~6
Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100
5.<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2
eg- 6<<3
If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

6.>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2
eg-6>>3
If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

# python tokens

In [ ]:
#keywords
#identifiers
#literals
#operators

In [24]:
#keyword
True=a #(error:  cause keywprd cant be a variable  )

SyntaxError: cannot assign to True (3410142420.py, line 2)

In [26]:
# identifiers
student='divya'
Student='vani'

In [27]:
Student

'vani'

In [28]:
student

'divya'

In [ ]:
#("above variables both are same but they follow case sensitive rule")

In [ ]:
# literals('constant in python')
a=10(#'here 10 is literals which is never changed ')

# python string

In [30]:
str1='I am divya '

In [31]:
str1

'I am divya '

In [38]:
str2 = '''
this is 
line 
of
python
'''

In [39]:
str2

'\nthis is \nline \nof\npython\n'

In [ ]:
#Indexing >extracting individual character

In [40]:
str1 = 'my name is divya vani'
str1[5:10]

'me is'

In [41]:
str1[0:1:-1]

''

# string functions

In [44]:
#finding length of string
a="MY NAME IS divya"
len(a)

16

In [45]:
#converting string to lower case
a.lower()

'my name is divya'

In [46]:
#converting string to uppercase
a.upper()

'MY NAME IS DIVYA'

In [47]:
#replacing a substring 
a.replace('y','a')

'ma name is divaa'

In [49]:
#Number of occurrences of substring
b='hello hello world'
b.count('hello')

2

In [52]:
#finding the index of substring
s1='this is spectacles'
s1.find('e')

10

In [56]:
#spliting a string
fruit='i like apple, mangoes, bannanas'
fruit.split(',')

['i like apple', ' mangoes', ' bannanas']

# Data structures in python>Tuple

In [ ]:
#Tuple> its is immutable(no change)
tup1=(1,'a',True,5-7j)
tup1

In [59]:
type(tup1)

tuple

In [66]:
#extracting individuals elements
tup1=(1,'a',True,2,'b',False)
tup1[4]

'b'

In [67]:
tup1=(1,"a",True,2,"b",False)
tup1[1:4]

('a', True, 2)

In [68]:
divya=(1,2,3,4,5,6)
divya[1:3]

(2, 3)

In [69]:
type(divya)

tuple

# Tuple basic opreations

In [70]:
#1.Finding length of tuple
tup1=(1,2,'a','lion',True)
len(tup1)

5

In [2]:
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
a=("apple",)
print(type(a))

<class 'tuple'>

In [7]:
#Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1,tuple2,tuple3)

('apple', 'banana', 'cherry') (1, 5, 7, 9, 3) (True, False, False)

In [10]:
#The tuple() Constructor
#It is also possible to use the tuple() constructor to make a tuple.
tuple1=tuple((1,2,3,4))# note the double round-brackets
print(type(tuple1))

<class 'tuple'>

In [5]:
thistuple=("apple","bananana","kiwi","oranges","papaya")
if "kiwi" in thistuple:
    print("yes")

yes

In [13]:
#updated tuple
a=(('a','b','c'))
b=list(a)
b[2]="hat"
a=tuple(b)
print(a)

('a', 'b', 'hat')

In [14]:
#Add tuple to a tuple
a=(1,2,3,4)
b=(1,)
a+=b
print(a)

(1, 2, 3, 4, 1)

In [17]:
#remove tuple to a tuple
a=(1,2,4,6,7)
b=list(a)
b.remove(1)
a=tuple(b)
print(a)

(2, 4, 6, 7)

In [23]:
#del tuple
a=(1,2,3,4)
del a
print(a)

NameError: name 'a' is not defined

In [24]:
#unpacking tuple
#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list
temp=(1,2,3,4,5,6,7,8)
(a,b,*c)=temp
print(a)
print(b)
print(*c)

1
2
3 4 5 6 7 8

In [25]:
temp=(1,2,3,4,5,6,7,8)
(a,*b,c)=temp
print(a)
print(*b)
print(c)

1
2 3 4 5 6 7
8

In [26]:
temp=(1,2,3,4,5,6,7,8)
(*a,b,c)=temp
print(*a)
print(b)
print(c)

1 2 3 4 5 6
7
8

In [27]:
a=("star",'moon',"star1","star2")
for i in range(len(a)):
    print(i)

0
1
2
3

In [28]:
a=("star",'moon',"star1","star2")
for i in range(len(a)):
    print(a[i])

star
moon
star1
star2

In [31]:
a=("star",'moon',"star1","star2")
i=0
while i<len(a):
    print(len(a[i]))
    i=i+1

4
4
5
5

In [32]:
a=("star",'moon',"star1","star2")
i=0
while i<len(a):
    print(a[i])
    i=i+1

star
moon
star1
star2

In [71]:
#2.concatenating tuples
a=(1,2,3,4,5)
b=(5,6,7,8)
a,b

((1, 2, 3, 4, 5), (5, 6, 7, 8))

In [72]:
a+b

(1, 2, 3, 4, 5, 5, 6, 7, 8)

In [73]:
b+a

(5, 6, 7, 8, 1, 2, 3, 4, 5)

In [75]:
#3. Repeating Tuple elements
tuple1=(9,88,12,'Divya')
tuple1*5

(9,
 88,
 12,
 'Divya',
 9,
 88,
 12,
 'Divya',
 9,
 88,
 12,
 'Divya',
 9,
 88,
 12,
 'Divya',
 9,
 88,
 12,
 'Divya')

In [76]:
#4.Repeating concatenating
a=(25,'januaury','aakash',)
b=('meet','divya')
a+b

(25, 'januaury', 'aakash', 'meet', 'divya')

In [78]:
a*2+b

(25, 'januaury', 'aakash', 25, 'januaury', 'aakash', 'meet', 'divya')

# Tuple functions

In [79]:
#minimum value
tup1=(1,2,3,4)
min(tup1)

1

In [1]:
#maximum value
a=(5,100,91)
max(a)

100

In [34]:
#count
a=(1,2,3,4,5,5)
b=a.count(5)
print(b)

2

In [37]:
#tuple index method
a=(1,2,3,4,4,6,6,8,9)
b=a.index(4)
print(b)

3

# List in python

In [ ]:
Method      Description
append()=   Adds an element at the end of the list
clear() =   Removes all the elements from the list
copy()   =  Returns a copy of the list
count()  =  Returns the number of elements with the specified value
extend() =  Add the elements of a list (or any iterable), to the end of the current list
index()  =  Returns the index of the first element with the specified value
insert() =  Adds an element at the specified position
pop()    =  Removes the element at the specified position
remove() =   Removes the item with the specified value
reverse() =  Reverses the order of the list
sort()    =  Sorts the list

In [3]:
l1=[1,'a',3.14,1]
l1

[1, 'a', 3.14, 1]

In [4]:
type(l1)

list

In [ ]:
# extracting individual elements in list

In [6]:
a=[1,2,3,4,5]
print(a[1])

2

In [7]:
a=['@','#','$','%']
print(a[1:4])

['#', '$', '%']

In [8]:
#modifying in list
#1.>changing the element at nth index
a=[1,2,3,4,5]
print(a[2])

3

In [15]:
#2.appending the new element
a=[1,2,'s','divya',0]
a.append(10)

In [18]:
#3.Poping last element
a=[1,2,3,4,5,6]
a.pop()

6

In [26]:
a=[1,2,3,4,5,6]
a.pop()
a

[1, 2, 3, 4, 5]

In [2]:
a="alison heck"
print(a.capitalize())

Alison heck

In [14]:
a="aliso heck"
b=a.split()
for i in range(len(b)):
    b[i]=b[i].capitalize()
    print()

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (3964562412.py, line 4)

In [ ]:
a="alison heck"

In [25]:
#reversing element of list
a=[1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [28]:
#inserting the element at specified index
a=[1,2,3,4,5]
a.insert(1,'divya')
a

[1, 'divya', 2, 3, 4, 5]

In [29]:
#sorting in list
a=[1,0,-1,-100,3.14]
a.sort()
a

[-100, -1, 0, 1, 3.14]

In [30]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse = True)

print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [3]:
#clear function
a=[1,2,3,4,5]
x=a.clear()
print(x)

None

In [5]:
#copy function
a=[1,"2",3,"4",5]
a.copy()

[1, '2', 3, '4', 5]

In [7]:
#count function
a=[1,1,1,1,1,2,3,0]
a.count(1)

5

In [24]:
#extend function
a=["sarita","asha",1,2,3]
b=["good","bad"]
b.extend(a)
print(b)

['good', 'bad', 'sarita', 'asha', 1, 2, 3]

In [27]:
#insert function
a=["a",'b']
a.insert(1,'x')
print(a)

['a', 'x', 'b']

In [30]:
#sort function
a=[6,7,8,3,5]
a.sort()
print(a)

[3, 5, 6, 7, 8]

In [31]:
thislist=((1,3,4))
print(len(thislist))

3

In [1]:
thislist=[1,2,3,4,5]
thislist[2]="divya"
print(thislist)

[1, 2, 'divya', 4, 5]

In [2]:
a=["a","b","c","d"]
a[1:3]="x","z"
print(a)

['a', 'x', 'z', 'd']

In [6]:
#ab ye updated wali value leta jayega kya 

a=[1,2,34,56,99,1,3]
a[-4:-1]=22,14,88,33,10000
print(a)

[1, 2, 34, 22, 14, 88, 33, 10000, 3]

In [13]:
b=["apple","banana","kiwi","hehehe"]
for a in b:
    print(a)

apple
banana
kiwi
hehehe

In [18]:
a=["b","c","d","e"]
for b in range (len(a)):
    print(a[b])

b
c
d
e

In [19]:
a=[1,2,3,4,5]
i=1
while i<len(a):
    print(a[i])
    i=i+1

2
3
4
5

In [22]:
a=[1,2,3,4,5]
[print(x) for x in a]

1
2
3
4
5

[None, None, None, None, None]

In [36]:
#list comprehension
name=["divya","vani","aakash"]
newline=[i.upper()]
for i in name:
    if "a" in i:
        newline.append(i)

print(newline)

['DKKKKIKSHA', 'divya', 'vani', 'aakash']

In [24]:
name=["garpes","mango","kiwi"]
newlist=[i for i in name if "a" in i]
print(newlist)

['garpes', 'mango']

In [25]:
name=['divya',"asha","diksha","charu"]
newlist=[i.upper() for i in name]
print(newlist)

['DIVYA', 'ASHA', 'DIKSHA', 'CHARU']

In [29]:
friuts=["apple","mango","bananana","kiwi"]
newlist=[i.upper() for i in friuts if "w" in i ]
print(newlist)

['KIWI']

In [12]:
a=[]
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:

newlist=[]
for i in range(1,11):
    if i%2==0:
        newlist.append(i)   
print(newlist)

[2, 4, 6, 8, 10]

In [19]:
x=[h for h in range(1,101) if h%4==0]
print(x)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

In [20]:
x=[i for i in range(10)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
x=[i for i in range (-1,100) if i%10==0]
print(x)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
friuts=

In [11]:
#list basic opreators

In [30]:
#concatenating list
a=[1,2,3]
b=['a','b','divya']
a+b

[1, 2, 3, 'a', 'b', 'divya']

In [32]:
#repeating elements
a=[1,2,3,5]
a*10

[1,
 2,
 3,
 5,
 1,
 2,
 3,
 5,
 1,
 2,
 3,
 5,
 1,
 2,
 3,
 5,
 1,
 2,
 3,
 5,
 1,
 2,
 3,
 5,
 1,
 2,
 3,
 5,
 1,
 2,
 3,
 5,
 1,
 2,
 3,
 5,
 1,
 2,
 3,
 5]

# Dictionary in python

In [1]:
dict1={'a':10,'b':20,'c':30}
dict1

{'a': 10, 'b': 20, 'c': 30}

In [2]:
thisdict={
    "brand":"ford",
    "model":"Mustang",
    "year":1964
    
}
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [2]:
type(dict1)

dict

In [3]:
yourdict={
    "div": 1,
    "divv": 2,
    "divv":3
}
print(yourdict)#dictionary not gave duplicates in output

{'div': 1, 'divv': 3}

In [6]:
yourdict={
    "div": 1,
    "divv": 2,
    "divv":3
}
print(len(yourdict))

2

In [8]:
thisdict={
    "brand":"ford",
    "model":"Mustang",
    "year": 1964,
    "color":["red","black",'white']
    
}
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964, 'color': ['red', 'black', 'white']}

In [13]:
thisdict=dict(brand ="ford" , model= "Mustang",year =1964)
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

In [15]:
#Accessing Items
thisdict={
    "apple":1,
    "color":"red",
    "quality": "good"
}
print(thisdict["quality"])

good

In [23]:
thisdict={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
x=thisdict.keys()
y=thisdict.values()
z=thisdict.items()
print(x)
print(y)
print(z)

dict_keys(['bra', 'company', 'quantity'])
dict_values(['black', 'jockey', 100])
dict_items([('bra', 'black'), ('company', 'jockey'), ('quantity', 100)])

In [25]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
x=undergarments.keys()
print(x)
undergarments["quality"]="fantastic"
print(x)
y=undergarments.items()
print(y)

dict_keys(['bra', 'company', 'quantity'])
dict_keys(['bra', 'company', 'quantity', 'quality'])
dict_items([('bra', 'black'), ('company', 'jockey'), ('quantity', 100), ('quality', 'fantastic')])

In [28]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
if "quality" in undergarments:
    print("yes","superb")
else:
    print("fuck it up")

fuck it up

In [30]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
undergarments["quantity"]=1
print(undergarments)

{'bra': 'black', 'company': 'jockey', 'quantity': 1}

In [32]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
undergarments.update({"quality": "good"})
print(undergarments)

{'bra': 'black', 'company': 'jockey', 'quantity': 100, 'quality': 'good'}

In [33]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
undergarments['cloth']="slik"
print(undergarments)

{'bra': 'black', 'company': 'jockey', 'quantity': 100, 'cloth': 'slik'}

In [43]:
#loop with dictionary
#Print all key names in the dictionary, one by on
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
for i in undergarments:
    print(i)

bra
company
quantity

In [45]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
for i in undergarments.keys():
    print(i)

bra
company
quantity

In [44]:
#Print all values in the dictionary, one by one:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
for i in undergarments:
    print(undergarments[i])

black
jockey
100

In [46]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
for i in undergarments.values():
    print(i)

black
jockey
100

In [48]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
for i in  undergarments.items():
    print(i)

('bra', 'black')
('company', 'jockey')
('quantity', 100)

In [49]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
for i, j in undergarments.items():
    print(i,j)

bra black
company jockey
quantity 100

In [50]:
#Copy a Dictionary
a={"a":1,"b":2,"c":3}
b=a.copy()
print(b)

{'a': 1, 'b': 2, 'c': 3}

In [51]:
a={"a":1,"b":2,"c":3}
b=dict(a)
print(b)

{'a': 1, 'b': 2, 'c': 3}

In [53]:
#Nested Dictionaries
#Create a dictionary that contain three dictionaries:
literacy={
    "Delhi":{
     "Male":40,
    "Female":48   
    },
    "UP":{
        "Male":33,
        "Female":50
    },
    "J&K":{
        "Male":67,
        "Female":30
    }
}
print(literacy)

{'Delhi': {'Male': 40, 'Female': 48}, 'UP': {'Male': 33, 'Female': 50}, 'J&K': {'Male': 67, 'Female': 30}}

In [55]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:
undergarments1={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
undergarments2={
    "bra":"White",
    "company":"Teenager",
    "quantity": 40
    
}
undergarments3={
    "bra":"Red",
    "company":"V",
    "quantity": 120
    
}
wholesale={
    "undergarments1": undergarments1,
    "undergarments2": undergarments2,
    "undergarments3": undergarments3
}
print(wholesale)

{'undergarments1': {'bra': 'black', 'company': 'jockey', 'quantity': 100}, 'undergarments2': {'bra': 'White', 'company': 'Teenager', 'quantity': 40}, 'undergarments3': {'bra': 'Red', 'company': 'V', 'quantity': 120}}

In [11]:
#Dictionary Methods
a={"a":1,"b":3,"c":3}
thisdict= dict.fromkeys(a)
print(thisdict)

{'a': None, 'b': None, 'c': None}

In [ ]:
clear()           Removes all the elements from the dictionary
copy()            Returns a copy of the dictionary
fromkeys()        Returns a dictionary with the specified keys and value
get()             Returns the value of the specified key
items()           Returns a list containing a tuple for each key value pair
keys()            Returns a list containing the dictionary's keys
pop()             Removes the element with the specified key
popitem()         Removes the last inserted key-value pair
setdefault()      Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()          Updates the dictionary with the specified key-value pairs
values()          Returns a list of all the values in the dictionary

In [20]:
#extracting keys and values

In [8]:
A={'a':10,'b':20,'c':30}
A.keys()

dict_keys(['a', 'b', 'c'])

In [9]:
A={'a':10,'b':20,'c':30}
A.values()

dict_values([10, 20, 30])

In [10]:
A={'a':10,'b':20,'c':30}
A.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [12]:
#modifying a dictionary
#1.> Adding a new element
A={'a':10,'b':20,'c':30}
A['f']=30
A

{'a': 10, 'b': 20, 'c': 30, 'f': 30}

In [13]:
#2.> Changing an existing element
A={'a':10,'b':20,'c':30}
A['c']=33
A

{'a': 10, 'b': 20, 'c': 33}

In [18]:
#3.> update one dictionary elements with another
a1={'a':10,'b':20,'c':30}
a2={'a':1,'b':2,'c':3}
a2.update(a1)
a2

{'a': 10, 'b': 20, 'c': 30}

In [20]:
#4.> poping the elements 
a1={'a':10,'b':20,'c':30}
a1.pop('a')
a1

{'b': 20, 'c': 30}

In [34]:
#popitem : delete the last inserted item from dictionary
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
undergarments.popitem()
undergarments

{'bra': 'black', 'company': 'jockey'}

In [38]:
#del
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
del undergarments["quantity"]
undergarments

{'bra': 'black', 'company': 'jockey'}

In [41]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
del undergarments
print(undergarments)

NameError: name 'undergarments' is not defined

In [42]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
undergarments.clear()
print(undergarments)

{}

In [12]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)

white

In [14]:
undergarments={
    "bra":"black",
    "company":"jockey",
    "quantity": 100
    
}
x=undergarments.setdefault("color", "Red")
print(x)

Red

# SETS

In [40]:
#A set is a collection which is unordered, unchangeable*, and unindexed. set are in culry braceses{}
my_first_set={"i","o","k","b"}
print(my_first_set)

{'b', 'i', 'k', 'o'}

In [41]:
#True and 1 is considered the same value:and no duplicates allowed in sets

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', True, 2, 'banana', 'cherry'}

In [42]:
#false and 0 is considered the same value:and no duplicates allowed in sets

oopz={False,False,False,0}
print(oopz)

{False}

In [45]:
my_set={1,2,3,4,5}
print(len(my_set))
print(type(my_set))

5
<class 'set'>

In [44]:
different_variable_contain={1,"2","string",3,"set",True}
print(different_variable_contain)

{1, 3, 'set', '2', 'string'}

In [46]:
#The set() Constructor
#It is also possible to use the set() constructor to make a set.
my_set=set((1,2,3,4,5))
print(type(my_set))#note the double round-brackets

<class 'set'>

In [47]:
#we can not accces the data but we can use for loop to access the set data use in keyword.
a={1,2,34,5,6,6}
for i in a:
    print(i)

1
2
34
5
6

In [48]:
#add data
a={1,2,3,4,5,6,7,8}
a.add("orange")
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 'orange'}

In [50]:
#remove  data
a={1,2,4,5}
a.remove(5)
print(a)

{1, 2, 4}

In [51]:
#Add Sets
#To add items from another set into the current set, use the update() method.
A={1,2,3,4,5,6}
B={10,20,30,40}
A.update(B)
print(A)

{1, 2, 3, 4, 5, 6, 40, 10, 20, 30}

In [52]:
#Add Any Iterable
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
a={1,2,3,4,5}
b=[10,20,30,40,50]
a.update(b)
print(a)

{1, 2, 3, 4, 5, 10, 20, 30, 40, 50}

In [59]:
a={1,2,2,2,5}
b=[10,2,2,40,50]
a.update(b)
print(a)

{1, 2, 5, 40, 10, 50}

In [61]:
#REMOVE ITEM IN SETS
a={1,2,3,4,5}
a.remove(4)
print(a)

{1, 2, 3, 5}

In [62]:
#If the item to remove does not exist, remove() will raise an error.
a=a={1,2,3,4,5}
a.remove(6)
print(a)

KeyError: 6

In [64]:
#Discard method>>If the item to remove does not exist, discard()will not raise an error.
a=a={1,2,3,4,5}
a.discard(4)
print(a)

{1, 2, 3, 5}

In [65]:
#pop method()>>..You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.


a={12,12,12,1,21,2}
a.pop()
print(a)

{2, 12, 21}

In [66]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [68]:
#clear method
a={1,2,3,4,5,6}
a.clear()
print(a)

set()

In [73]:
#loop statement of sets
a={"x","o","x","o"}
for i in a:
    print(i)

x
o

In [82]:
#JOIN TWO SETS
#There are several ways to join two or more sets in Python.
#You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another
a={1,2,3,4}
b={1,3,4,5,7,8}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 7, 8}

In [79]:
#The update() method inserts the items in set2 into set1:
a={"a",1,"b",3}
b={1,11,111,121,111}
a.update(b)
print(a)
#Both union() and update() will exclude any duplicate items.

{1, 3, 11, 111, 'a', 'b', 121}

In [84]:
#Keep ONLY the Duplicates
#The intersection method willreturn new set, keep only the items that are present in both sets.
a={1,2,3,4,5}
b={2,4,6}
c=a.intersection(b)
print(c)

{2, 4}

In [85]:
#The intersection_update() method will return  that only contains the items that are present in both sets.
a={1,2,3,4}
b={10,20,4}
a.intersection_update(b)
print(a)

{4}

In [86]:
#Keep All, But NOT the Duplicates
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
a={1,2,4,4}
b={1,3,4,5,6,8}
a.symmetric_difference_update(b)
print(a)

{2, 3, 5, 6, 8}

In [87]:
#symmetric_difference  >>>The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
a={1,2,4,4}
b={1,3,4,5,6,8}
c=a.symmetric_difference(b)
print(c)

{2, 3, 5, 6, 8}

In [88]:
#True and 1 is considered the same value:

x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

print(z)

{2, 'banana', 'google', 'cherry'}

In [ ]:
add()	                                 Adds an element to the set
clear()	                                 Removes all the elements from the set
copy()	                                 Returns a copy of the set
difference()	                         Returns a set containing the difference between two or more sets
difference_update()	                     Removes the items in this set that are also included in another, specified set
discard()	                             Remove the specified item
intersection()	                         Returns a set, that is the intersection of two other sets
intersection_update()	                 Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	                         Returns whether two sets have a intersection or not
issubset()	                             Returns whether another set contains this set or not
issuperset()	                         Returns whether this set contains another set or not
pop()	                                 Removes an element from the set
remove()	                             Removes the specified element
symmetric_difference()	                 Returns a set with the symmetric differences of two sets
symmetric_difference_update()	         inserts the symmetric differences from this set and another
union()	                                 Return a set containing the union of sets
update()	                             Update the set with the union of this set and others

In [90]:
#isdisjoint()
#The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.
a={1,2,3,4}
b={2,3,4}
c=a.isdisjoint(b)
print(c)

False

In [91]:
#issubset
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.
a={1,2,3,4}
b={5,6,7,8}
c=a.issubset(b)
print(c)

False

In [92]:
a={1,2,3,4}
b={5,6,7,4}
c=a.issubset(b)
print(c)

False

In [93]:
a={1,2,3,4}
b={5,6,7,4,2,3,1}
c=a.issubset(b)
print(c)

True

In [95]:
#issuperset
#The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.
a={1,2,3,4,5,6,66,78,8}
b={3,4,5,6}
c=a.issuperset(b)
print(c)

True

# If statement

In [ ]:
#if(condition){
#staments to be executed
#}
#else{
#    statement to be executed
#}

In [1]:
#Shortest if else method>>>This technique is known as Ternary Operators, or Conditional Expressions.
a=200
b=100
if a>b:print("a is greater than b")

a is greater than b

In [2]:
a=-100
b=-90
print("a")if a>b else print("b")

b

In [3]:
a=330
b=330
print("a") if a>b else print("=") if a==b else print("b")

=

In [5]:
a=400
b=300
c=900
if a>b and c>a:
    print("both statement is true")

both statement is true

In [6]:
a=330
b=40
c=500
if a>b or c>a:
    print("atleast one statement is true")

atleast one statement is true

In [8]:
a=400
b=30
if not a>b:
    print("a is not greater than b")
else:
    print("nothing")

nothing

In [9]:
a=10
b=20
if a>b:
    pass

In [22]:
a=10
b=20
if b>a:
    print('fine,b is great')

fine,b is great

In [24]:
a=100
b=20
if b>a:
    print('b is great')
else:
    print('a is great')

a is great

In [25]:
a=10
b=20
c=30
if(a>b)&(a>c):
    print('a is greatest than ')
elif(b>a)&(b>c):
    print('b is greatest than ')
else:
    print('c is greatest')

c is greatest

In [2]:
#if with tuple
tup1=('a','b','c')
if 'a'in tup1:
    print('yes')
else:
    print('no')

yes

In [11]:
#if with list
l1=['a','b','c']
if l1[1]=='b':
    l1[1]='z'
l1

['a', 'z', 'c']

In [12]:
#if with dictionary
d1={'k':10,'k1':20}
d1

{'k': 10, 'k1': 20}

In [17]:
d1={'k':10,'k1':20}
if d1['k']==10:
    d1['k']=d1['k']+100
d1

{'k': 110, 'k1': 20}

# looping statment

In [ ]:
#while loop
#syntax:
while condition:
    execute statement

In [1]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [13]:
#break statement
i=1
while i<=10:
    print(i)
    if i==6:
        break
    i=i+1

1
2
3
4
5
6

In [16]:
#continue statment
i=1
while i<10:
    i+=1
    if i==3:
        continue
    print(i)

2
4
5
6
7
8
9
10

In [5]:
i=1
n=2
while i<=10:
    print(n," * ",i,'=',n*i)
    i+=1

2  *  1 = 2
2  *  2 = 4
2  *  3 = 6
2  *  4 = 8
2  *  5 = 10
2  *  6 = 12
2  *  7 = 14
2  *  8 = 16
2  *  9 = 18
2  *  10 = 20

In [7]:
#while with list
l1=[1,2,3,4,5]
i=0
while i<len(l1):
    l1[i] =l1[i]+100
    i+=1
l1

[101, 102, 103, 104, 105]

In [9]:
#loop with list
l1=[1,2,3,4,5]
for i in l1:
    print(i)

1
2
3
4
5

In [11]:
A=['a','s','d','f']
B=['a','c','e','f']
for i in A:
    for j in B:
        print(i,j)

a a
a c
a e
a f
s a
s c
s e
s f
d a
d c
d e
d f
f a
f c
f e
f f

In [1]:
#for loop statement
a=["apple","banana",'kiwi']
for i in a:
    print(i)

apple
banana
kiwi

In [2]:
#break statement
a=["apple","kiwi","chiku"]
for i in a:
    print(i)
    if i=="kiwi":
        break

apple
kiwi

In [4]:
#continues statement
a=["apple","kiwi","orange"]
for i in a:
    if i=="apple":
        continue
    print(i)

kiwi
orange

In [5]:
a=["apple","kiwi","chiku"]
for i in a:
    if i=="kiwi":
        break
    print(i)

apple

In [9]:
a=[0,1,2,3]
for i in a:
    if i==3: break
    print(i)
else:
    print("no")

0
1
2

In [ ]:
for x in [0, 1, 2]:
  pass

# having an empty for loop like this, would raise an error without the pass statement

In [10]:
a=['bra','penty','cup']
b=["red","black","orange"]
for i in a:
    for j in b:
        print(i,j)

bra red
bra black
bra orange
penty red
penty black
penty orange
cup red
cup black
cup orange

In [11]:
pwd

'C:\\Users\\navgurukul'

In [13]:
##replace
#find
string="she was an good girl . she was very perrrty girls  which i ever meet in the wold . she was an preety eyes . she was very kindfull girl."
print(string.replace("was","is"))

she is an good girl . she is very perrrty girls  which i ever meet in the wold . she is an preety eyes . she is very kindfull girl.

In [14]:
string="she was an good girl . she was very perrrty girls  which i ever meet in the wold . she was an preety eyes . she was very kindfull girl."
print(string.find("was"))

4

In [15]:
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

# Functions in Python

In [1]:
#functions is block of code which performs a specific task
def hello():
    print('hello world')

In [2]:
def add_10(x):
    return x+10
add_10(9)

19

In [4]:
def odd_even(x):
    if x%2==0:
        print(x,'is even')
    else:
        print(x,'is odd')
odd_even(10)

10 is even

In [6]:
#lambda function is the anonyms function without a name . cause it will give parameter and code in a single line {It is use for another function are filter,map,reduce}
#syntax
#x:x
g=lambda x:x*x*x
g(7)

343

In [12]:
#Filter Function :- The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not. 
#lambda with filter
l1=[7,89,56,4,2,34,88,1,2,3,]
final_list=list(filter(lambda x:(x%2==0),l1))
print(final_list)

[56, 4, 2, 34, 88, 2]

In [15]:
l1=[1,2,3,4,5,6,7,8,9,0]
final_list=list(filter(lambda x:(x==x**2),l1))
print(final_list)

[1, 0]

In [16]:
l1=[1,2,3,4,5,6,7,8,9,0]
final_list=list(filter(lambda x:(x*2==x//2),l1))
print(final_list)

[0]

In [17]:
l1=[1,2,3,4,5,6,7,8,9,0]
final_list=list(filter(lambda x:(x%3!=0),l1))
print(final_list)

[1, 2, 4, 5, 7, 8]

In [26]:
#lambda with map{we can use one task for the entire sequence}
l1=[1,2,3,4,5,6,7,8]
list_final_new=list(map(lambda x:x*2,l1))
print(list_final_new)

[2, 4, 6, 8, 10, 12, 14, 16]

In [3]:
a=[0,1,2,56,78,99,12,45]
b=list(map(lambda x:x**3,a))
print(b)

[0, 1, 8, 175616, 474552, 970299, 1728, 91125]

In [8]:
a=[-1,-2,-3,-4,-5]
b=list(map(lambda x:x**2,a))
print(b)

[1, 4, 9, 16, 25]

In [12]:
from functools import reduce#when we want final result
l1=[1,2,3,4,5,6,7,8]
sum=reduce(lambda x,y:x+y,l1)
print(sum)

36

# if else first assignment

In [19]:
#Construct a flowchart to show how the sum of two numbers can be obtained.
a=10
b=20
sum=a+b
print(sum)

30

In [20]:
#Construct a flowchart to show the procedure for obtaining the average of two given numbers.
a=10
b=20
average=a+b/2
print(average)

20.0

In [2]:
#Construct a flowchart to show how to obtain the daily wage of a worker on the basis of the hours worked during the day.
a=int(input('enter the no. of worker'))
b=int(input('enter the no. of hours'))
c=a*b
print('daily wages:-',c)

enter the no. of worker12
enter the no. of hours8
daily wages:- 96

In [4]:
#Construct a flowchart to show how to obtain the area of a triangle on the basis of the base and height
height=int(input('enter the height'))
base=int(input('enter the base'))
area=1/2*height*base
print(area)

enter the height3
enter the base4
6.0

In [6]:
#Construct a flowchart to show the steps in finding the simple interest on a given amount at a given rate of interest.
P=int(input('enter the p amount'))
R=int(input('enter the R amount'))
T=int(input('enter the T amount'))
amount=P*R*T/100
print(amount)

enter the p amount12
enter the R amount13
enter the T amount2
3.12

In [ ]:
#If P amount of money is invested for N years at an annual rate of interest I, the money grows to an amount T, where T is given by T = P (1 + I/100)N. Construct a flowchart to show how T is determined.
P=int(input('enter the p amount:-'))
R=int(input('enter the R amount:-'))
T=int(input('enter the T amount:-'))
amount= P (1 + I/100)/T
print(amount)

In [ ]:
#Construct a flowchart to show how to interchange the values of two variables.
a=int(input('enter the no.'))
b=int(input('enter the no.'))
temp=a
a=b
temp=b
print('interchange the value of a':-{a})
print('interchange the value of b':-{b})

In [ ]:
#Construct a flowchart to calculate the semiperimeter of a triangle.
a=int(input('enter the side'))
formula=3*a
print('semiperimeter of a triangle',formula)

In [13]:
#Construct a flowchart to calculate the area of a circle
radius= int(input('enter the radius'))
#calculate the area of cicle
formula=3.14*radius**2
print('area of cicle',formula)

enter the radius24
area of cicle 1808.64

In [12]:
#Construct a flowchart to print a Welcome message. Take input from the user and on the output window print Welcome ____.
a='WELCOME IN PYTHON'
print(a)

WELCOME IN PYTHON

In [13]:
user_name = input("Enter your name: ")
print(user_name)

Enter your name: divya
divya

In [16]:
#Given the circumference of a circle, construct a flowchart to calculate the Diameter. 
radius=int(input('enter the radius:-'))
#circumference of a circle
formula=2*3.14*radius
print('circumference of a circle',formula)

enter the radius:-2
circumference of a circle 12.56

In [1]:
#Construct a flowchart to add, subtract, divide and multiply two integers a and b. 
A=int(input('enter the no:-'))
B=int(input('enter the no.:-'))
print(A+B)
print(A*B)
print(A/B)
print(A-B)

enter the no:-1
enter the no.:-3
4
3
0.3333333333333333
-2

In [2]:
#Construct a flowchart to calculate the area and perimeter of a rectangle.
A=float(input('enter the lenth'))
B=float(input('enter the breadth'))
#caculate the area
area=A*B
#calculate the perimeter
perimeter=2*(A+B)
print(area, perimeter)

enter the lenth12
enter the breadth12
144.0 48.0

In [4]:
#Construct a flowchart to calculate the area and perimeter of a square.
A=float(input('enter the lenth :-'))
#calculate the area of square
area=A**A
#calculate the perimeter
perimeter=4*A
print(area,perimeter)

enter the lenth :-2
4.0 8.0

In [5]:
#Construct a flowchart to calculate the semiperimeter of a triangle
a=float(input('enter the side'))
#calculate the semiperimeter
formula=3/2*a
print(formula)

enter the side12
18.0

In [15]:
#Construct a flowchart to calculate the lateral surface area and Total surface area of a cube.
A=int(input("enter the side of cube:-"))
#calculate the lateral surface area of cube
surface=4*A**2
#calculate the total surface area of cube
Total=6*A**2
print(surface,';',Total)

enter the side of cube:-12
576 ; 864

In [9]:
#Construct a flowchart to calculate the volume of a cube.
A=int(input("enter the side of cube:-"))
#calculate the area of cube 
area=a*a*a
print(area)

enter the side of cube:-12
1728.0

In [18]:
#Construct a flowchart to find the lateral surface area and Total surface area of a cuboid.
l=float(input('Enter the length:-'))
b=float(input('Enter the length:-'))
h=float(input('Enter the height:-'))
#the lateral surface area of cuboid
surface=2*h*(l+b)
#Total surface area of a cuboid.
Total=2*(l*b+b*h+h*l)
print(surface,"||",Total)

Enter the length:-1
Enter the length:-2
Enter the height:-3
18.0 || 22.0

In [1]:
#Construct a flowchart to calculate the volume of a cuboid.
L=float(input('enter the length:-'))
B=float(input('enter the breadth:-'))
H=float(input('enter the height:-'))
#calculate the volume of cuboid
volume=L*B*H
print(volume)

enter the length:-1
enter the breadth:-2
enter the height:-3
6.0

In [3]:
#Construct a flowchart to display the last digit of a number.
number=int(input('Please enter the no. :- '))
last_digit=number%10
print(last_digit)

Please enter the no. :- 23690987
7

In [5]:
#Construct a flowchart to calculate remainder when a is divided by b
a=int(input('Please enter the no. :- '))
b=int(input('Please enter the no. :- '))
reminder=a%b
print(reminder)

Please enter the no. :- 2
Please enter the no. :- 3
2

In [6]:
#Construct a flowchart to calculate the quotient when a is divided by b
a=int(input('Please enter the no. :- '))
b=int(input('Please enter the no. :- '))
quotient=a/b
print(quotient)

Please enter the no. :- 4
Please enter the no. :- 1
4.0

In [7]:
#Construct a flowchart to Calculate the selling price of a product if MRP  and discount are given

In [8]:
#Construct a flowchart to calculate the square of a number.
a=int(input('enter the no:-'))
square=a*a
print(square)

enter the no:-290
84100

In [9]:
#Construct a flowchart to calculate how many books we can buy if we have x Rs .   (Cost of a book = Rs. y)(input x,y from user)
x=int(input('enter the total cost'))
y=int(input('enter the book cost'))
buy_books=x//y
print(buy_books)

enter the total cost12
enter the book cost3
4

In [1]:
#Construct a flowchart to calculate the total marks obtained by a student in examination. (Subjects : - Hindi, Maths, English, Science, Computer) 
English_mark=int(input('enter the no.:-'))
Hindi_mark=int(input('enter the no.:-'))
maths_mark=int(input('enter the no.:-'))
sci_mark=int(input('enter the no,:-'))
comp_mark=int(input('enter the no,:-'))
Total_mark=English_mark+Hindi_mark+maths_mark+sci_mark+comp_mark
print(Total_mark)

enter the no.:-50
enter the no.:-80
enter the no.:-34
enter the no,:-56
enter the no,:-90
310

In [2]:
#Construct a flowchart to calculate the percentage obtained in the above question.
percentage=Total_mark/500*100
print(percentage)

62.0

In [5]:
#Construct a flowchart to determine the acceleration due to gravity (g), where g can be obtained from the following formula:
#T = 2l/g
#where 	T = Time period of a simple pendulum
#And	 l = Effective length of the simple pendulum
#(Input T and l from user)
T=float(input("enter Time period of a simple pendulum,:-"))
L=float(input("Enter Effective length of the simple pendulum:-"))
#acceleration due to gravity (g)
g=2*L/T
print("acceleration due to gravity (g)",g)

enter Time period of a simple pendulum,:-20
Enter Effective length of the simple pendulum:-90
acceleration due to gravity (g) 9.0

In [7]:
#A store sells Vadapavs & Samosas. They want a system where they enter the number of Vadapavs (V) and Samosas (S) a customer buys and a bill with the final price is automatically calculated and displayed. A Vadapav costs 12, while a Samosas costs 15. Write a program to create su
vadapav_cost=10
samosa_cost=15
vadapav_quantity=int(input('enter the quanity:-'))
samosa_quantity=int(input('enter the quantity:-'))
total_vadapav_cost=vadapav_cost*vadapav_quantity
total_samosa_cost=samosa_cost*samosa_quantity
total_bill=total_vadapav_cost+total_samosa_cost
print(total_bill)

enter the quanity:-10
enter the quantity:-4
160

In [8]:
#Write a program to take two numbers A and B as input from the user and print the number closest to (but less than) A which is completely divisible by B.
A=int(input('enter the number:-'))
B=int(input('enter the number:-'))
closest_number=(A//B)*B
print(closest_number)

enter the number:-22
enter the number:-3
21

In [9]:
#Construct a flowchart to obtain the Fahrenheit equivalent of a temperature given in Celsius where the relationship between the two scales of temperature is
#C/5 = (F-32)/9
c=float(input('enter the value of celcius:-'))
fahrenheit = (c * 9/5) + 32
print(fahrenheit)

enter the value of celcius:-12
53.6

# if-else 2nd assignment

In [10]:
#Construct a flowchart to show how to determine the greater of two given numbers.
a=int(input('enter the number:-'))
b=int(input('enter the number:-'))
if a>b:
    print("a is grearter")
else:
    print("b is greater")

enter the number:-12
enter the number:-34
b is greater

In [1]:
#Construct a flowchart to print the name of days.
#(Input a number from the user in the range 0 to 6 and print Monday for 0, Tuesday for 1
#and so on)
x=int(input("enter day number:-"))
if x==0:
    print("SUNDAY")
elif x==1:
    print("MONDAY")
elif x==2:
    print("TUESDAY")
elif x==3:
    print("WEDNESDAY")
elif x==4:
    print("THURSDAY")
elif x==5:
    print("FRIDAY")
elif x==6:
    print("SATURDAY")
else:
    print("NOT VALID")

enter day number:-7
NOT VALID

In [3]:
#Construct a flowchart to print the name of month.
x=int(input('enter the month number:-'))
if x==0:
    print("jan")
elif x==1:
    print("feb")
elif x==2:
    print("mar")
elif x==3:
    print("apr")
elif x==4:
    print("may")
elif x==5:
    print("june")
elif x==6:
    print("july")
elif x==7:
    print("aug")
elif x==8:
    print("sep")
elif x==9:
    print("oct")
elif x==10:
    print("nov")
elif x==11:
    print("dec")
else:
    print("invalid")

enter the month number:-11
dec

In [17]:
#Construct a flowchart to take selling price and cost price as input and calculate the profit
#percentage.(Note :- The value of S.P. should be greater than C.P. else print invalid).
sp=float(input('enter the selling price:-'))
cp=float(input('enter the cost price:-'))
if sp>cp:
    profit=sp-cp
    profit_percentage=profit/cp*100
    print(profit_percentage)
else:
    print("invalid")

enter the selling price:-90
enter the cost price:-80
12.5

In [19]:
#Construct a flowchart to take two sides as input and check whether it is a rectangle or a
#square.
a=float(input('enter the first side:- '))
b=float(input('enter the second side:-'))
if a>b:
    print('rectangle')
elif a<b:
    print('rectangle')
else:
    print('square')

enter the first side:- 12
enter the second side:-13
rectangle

In [22]:
#Construct a flowchart to check whether a number is the smallest 4 digit number.
a=int(input('enter the no.:-'))
if 1000<=a<=9999:
    print("number is the smallest 4 digit number")
else:
    print('invalid')

enter the no.:-12345
invalid

In [2]:
#Construct a flowchart to check whether a number is the largest 3 digit number.
a=int(input('enter the no.:-'))
if 100<=a<=999:
    print("number is the smallest 3 digit number")
else:
    print('invalid')

enter the no.:-1245
invalid

In [4]:
#Construct a flowchart to check whether a number is divisible by 7 or no
a=int(input('enter the number-'))
if a%7==0:
    print('given no. is divisible by 7')
else:
    print('given no. is not divisible by 7')

enter the number-23
given no. is not divisible by 7

In [5]:
#Construct a flowchart program to check whether a number is even or odd.
a=int(input('enter the no.:-'))
if a%2==0:
    print('no. is even')
else:
    print('no. is odd')

enter the no.:-345678
no. is even

In [5]:
#Construct a flowchart to check whether the last digit of a number (entered by user) is
#divisible by 3 or not.
a=int(input('enter the number:-'))
last_digit=a%10
if last_digit%3==0:
    print('Obtained last digit is divisible by 3')
else:
    print('not')

enter the number:-236
Obtained last digit is divisible by 3

In [7]:
#Construct a flowchart to check whether a person is eligible for voting or not. Age for
#voting is 18 years.
age=float(input('Enter the age of the voter:-'))
if age>=18:
    print('person is eligible for voting')
else:
    print('person is not eligible for voting')

Enter the age of the voter:-34
person is eligible for voting

In [8]:
#Construct a flowchart to display "Hello" if a number entered by the user is a multiple of
#five , otherwise print "Bye".
a=int(input('enter the no.'))
if a%5==0:
    print("Hello")
else:
    print("Bye")

enter the no.25
Hello

In [2]:
# Construct a flowchart to input the marks of two students in 5 subjects and check who is the topper.
#student1_mark
h=int(input('mark obtained in hindi by student 1 ='))
e=int(input('mark obtained in english by student 1 ='))
m=int(input('mark obtained in maths by student 1 ='))
s=int(input('mark obtained in sicence by student 1 ='))
c=int(input('mark obtained in computer by student 1 ='))
#student2_mark
h1=int(input('mark obtained in hindi by student 2 ='))
e1=int(input('mark obtained in englishby student 2 ='))
m1=int(input('mark obtained in maths by student 2 ='))
s1=int(input('mark obtained in sicence by student 2 ='))
c1=int(input('mark obtained in computer by student 2='))
total_mark_student1_mark=h+e+m+s+c
total_mark_student2_mark=h1+e1+m1+s1+c1
if total_mark_student1_mark>total_mark_student2_mark:
    print('student1_mark is topper')
else:
    print('student1_mark is topper')

mark obtained in hindi by student 1 =30
mark obtained in english by student 1 =40
mark obtained in maths by student 1 =50
mark obtained in sicence by student 1 =60
mark obtained in computer by student 1 =60
mark obtained in hindi by student 2 =50
mark obtained in englishby student 2 =40
mark obtained in maths by student 2 =50
mark obtained in sicence by student 2 =40
mark obtained in computer by student 2=40
student1_mark is topper

In [3]:
#Construct a flowchart to check whether a number entered is a three digit number or not.
a=int(input('enter the no.:-'))
if 100<=a<=999:
    print('given number is three digit')
else:
    print('not')

enter the no.:-234
given number is three digit

In [6]:
#Construct a flowchart to check whether a person is a senior citizen or not(Senior citizen Age=60).
Age=int(input('enter the age of senior'))
if Age<=60:
    print('senior citizen ')
else:
    print('not')

enter the age of senior60
senior citizen

In [7]:
#Accept the temperature in degrees Celsius of water and check whether it is boiling or
#not (boiling point of water in 100oC).
a=int(input('enter the boiling point of water'))
if a>=100:
    print('water is boiling')
else:
    print('not')

enter the boiling point of water120
water is boiling

In [4]:
#Construct a flowchart to calculate the sum of two given integers. However, if the sum is
#between 15 to 20 it will return 20
a=int(input('enter the number:-'))
b=int(input('enter the number:-'))
sum=a+b
if 15<=sum<=20:
    print(20)
else:
    print('not')

enter the number:-12
enter the number:-3
20

In [6]:
#A shop will give a discount of 10% if the cost of the purchased quantity is more than
#1000. Ask the user for quantity, Suppose, one unit will cost 100. Judge and print total ost for the user.
quantity = int(input("Enter the quantity: "))
unit_cost = 100
total_cost = quantity * unit_cost
if total_cost > 1000:
        discount = 0.10 * total_cost
        total_cost -= discount
        print(total_cost)
else:
    ('not')

Enter the quantity: 1500
135000.0

In [5]:
#A company decided to give a bonus of 5% to an employee if his/her year of service is more than 5 years. Ask users for their salary and year of service and print the net bonus amount.
user_salary=int(input('enter the salary amount'))
user_year=int(input('enter the year number'))
if user_year>=5:
    bonus_amount=user_salary*5/100
    print(bonus_amount)
else:
    print('not')

enter the salary amount12000
enter the year number6
600.0

In [ ]:
#A student will not be allowed to sit in an exam if his/her attendance is less than
#75%.Take following input from the user. Number of classes held. Number of classes
#attended. And print, percentage of class attended. Is the student allowed to sit in the exam or not.

In [7]:
#A student will not be allowed to sit in an exam if his/her attendance is less than 75%.Take following input from the user. Number of classes held. Number of classes attended. And print, percentage of class attended. Is the student allowed to sit in the exam or not.
n=int(input('ENTER THE NUMBER'))
a=n%10
if a==3:
    print('ends with 3')
elif a==7:
    print('ends with 7')
else:
    print('not')

ENTER THE NUMBER36
not

In [9]:
#Construct a flowchart to take two numbers as input and print their difference if the first number is greater than the second number, otherwise print their sum.
a=int(input('enter the number'))
b=int(input('enter the number'))
if a>b:
    diff=a-b
    print(diff)
else:
    sum=a+b
    print(sum)

enter the number9
enter the number0
9

In [10]:
#Construct a flowchart to obtain a number N and increment its value by 1 if the number is divisible by 4, otherwise, decrement its value by 1.
N=int(input('enter the numer'))
if N%4==0:
    increase=N+1
    print(increase)
else:
    diff=N-1
    print(diff)

enter the numer12
13

In [15]:
#Construct a flowchart to obtain 2 numbers (A and B) and an arithmetic operator (C) and then design a calculator depending upon the operator entered by the user.
a=int(input('enter the number'))
b=int(input('enter the number'))
c = input("Enter the arithmetic operator (+, -, *, /): ")
if c=="+":
    print(a+b)
elif c=='-':
    print(a-b)
elif c=='*':
    print(a*b)
elif c=="/":
    if b!=0:
        print(a/b)
else:
    print("Invalid operator. Something went wrong.")

enter the number12
enter the number6
Enter the arithmetic operator (+, -, *, /): /
2.0

In [17]:
#Construct a flowchart to obtain the length (L) and breadth (B) of a rectangle and check whether its area is greater or perimeter is greater or both are equal.
a=float(input('enter the length of rectangle'))
b=float(input('enter the breadth of rectangle'))
area=a*b
perimeter=2*(a+b)
if area==perimeter:
    print('both is equal')
elif perimeter<area:
    print('area is greater')
else:
    print('perimeter is greater')

enter the length of rectangle11
enter the breadth of rectangle2
perimeter is greater

In [20]:
#Construct a flowchart to check if a given number is one digit or two digit or three digits or more than three digits.
a=int(input('enter the number:-'))
if 1<=a<10:
    print ('one digit number')
elif 10<=a<100:
    print('two digit number')
elif 100<=a<1000:
    print('three digit number')
else:
    print('more than three digit number')

enter the number:-123
three digit number

In [21]:
#Construct a flowchart to input the month number and print the number of days in that month
month=int(input('enter the number'))
if month in [1, 3, 5, 7, 8, 10, 12]:
    print('month is 31 days')
elif month== 2:
    print('month is 28 or 29')
elif month in [4,6,9,11]:
    print('month is 30d days')
else:
    print('invalid')

enter the number12
month is 31 days

In [22]:
#Construct a flowchart to check whether a number is negative, positive or zero
a=int(input('enter the number :-'))
if a<0:
    print('number is negative')
elif a>0:
    print('number is positive')
elif a==0:
    print('number is zero')

enter the number :--1
number is negative

In [ ]:
#Accept any city from the user and display the monument of that city.
#City Monument
#Delhi Red Fort
#Agra Taj Mahal
#Jaipur Jal Mahal
x=input("enter city name to know monuments:-")
x.upper()
if x=='delhi':
    print("red fort")
elif x=='agra':
    print("taj mahal")
elif x=='jaipur':
    print('jal mahal')
else:
    print('invalid')

In [4]:
#Construct a flowchart to input marks of five subjects Physics, Chemistry, Biology,
#Mathematics and Computer. Calculate percentage and grade according to following:
#Percentage >= 90% : Grade A
#Percentage >= 80% : Grade B
#Percentage >= 70% : Grade C
#Percentage >= 60% : Grade D
#Percentage >= 40% : Grade E
#Percentage < 40% : Grade F
p=int(input('enter the physics mark:-'))
c=int(input('enter the chemistry mark:-'))
b=int(input('enter the biology mark:-'))
m=int(input('enter the mathematics mark:-'))
c=int(input('enter the computer mark:-'))
obtained_mark=p+c+b+m+c
Total_mark=600
percentage=obtained_mark/Total_mark*100
if percentage >= 90:
    print('Grade A')
elif percentage >= 80:
    print('Grade B')
elif percentage >= 70:
    print('Grade C')
elif percentage >= 60:
    print('Grade D')
elif percentage >= 40:
    print('Grade E')
elif percentage >= 40:
    print('Grade F')
else:
    print('invalid')

enter the physics mark:-70
enter the chemistry mark:-80
enter the biology mark:-50
enter the mathematics mark:-60
enter the computer mark:-70
Grade E

In [15]:
#Construct a flowchart to input basic salary of an employee and calculate its Gross salary
#according to following:
#Basic Salary <= 10000 : HRA = 20%, DA = 80%
#Basic Salary <= 20000 : HRA = 25%, DA = 90%
#Basic Salary > 20000 : HRA = 30%, DA = 95%
basic_salary=int(input('enter the salary'))
if basic_salary<=1000:
    hra_percentage=20
    da_percentage=80
elif basic_salary<=20000:
     hra_percentage=25
     da_percentage=90
else:
     hra_percentage=30
     da_percentage=95
hra = (hra_percentage / 100) * basic_salary
da = (da_percentage / 100) * basic_salary
gross_salary = basic_salary + hra + da    
    
print(gross_salary)

enter the salary200000
450000.0

In [1]:
#A teacher has divided her classroom into groups of 5 based on their roll numbers. The
#last roll number of each group has been elected as the leader of the group who will
#manage the tasks performed by the group. Write a program for the teacher to enter the
#roll number of the student and check if he/she is a Group Leader or not?
roll_number=int(input('enter the roll number'))
if roll_number%5==0:
    print('Group leader')
else:
    print('Not a group leader')

enter the roll number3
Not a group leader

In [18]:
#Roller Coasters require children to have a minimum height of 5 feet. Any child below this
#height is generally not allowed on them. Write a program to accept a childs height in
#inches and display if he or she will be allowed to ride or not.
a=int(input('enter the height in inches'))
minimum_height=60
if a>=minimum_height:
    print('she allowed to ride')
else:
    print('she is not allowed to ride')

enter the height in inches68
she allowed to ride

In [16]:
#Construct a flowchart to accept the cost price of a bike and display the road tax to be
#paid according to the following criteria :
#a. Cost price (in Rs) Tax
#b. > 100000 15 %
#c. > 50000 and <= 100000 10%
#d. <= 50000 5%
cost_price=int(input('enter the price'))
if cost_price>100000:
    tax=15
elif cost_price>50000:
    tax=10
else:
    tax=5
road_tax=(tax/100)*cost_price
print(road_tax)

enter the price20000000
3000000.0

# IF-ELSE 3rd ASSIGNMENT

In [10]:
#1.Construct a flowchart to find a maximum between three numbers. (Use minimum number of comparisons)
a=int(input('enter the number'))
b=int(input('enter the number'))
c=int(input('enter the number'))
if a>=b:
    if a>=c:
        print('a is greater')
else:
    if b>=c:
        print('b is greater')
    else:
        print('c is greater')

enter the number12
enter the number23
enter the number45
c is greater

In [5]:
#Validate a given year. (Hints. The year in the date must be greater than zero, the months must lie between 1 and 12, and the days must lie between 1 and 31, depending on the month numbers.
year = int(input("Enter the year: "))
month = int(input("Enter the month: "))
day = int(input("Enter the day: "))
if year>0:
    if 1<=month<=12:
        if month==2:
            if 1<=day<=29:
                print('valid day')
            else:
                print('invalid day')
        elif month==4 or month==6 or month==9 or month==11:
            if 1<=day<30:
                print('valid day')
            else:
                print('valid day')
        else:
            print('valid day')
else:
    print('invalid day')

Enter the year: 2023
Enter the month: 12
Enter the day: 31
valid day

In [6]:
#Construct a flowchart to input electricity unit charges and calculate the total electricity bill according to the given condition:
#For the first 50 units Rs. 0.50/unit
#For next 100 units Rs. 0.75/unit
#For the next 100 units Rs. 1.20/unit
#For unit above 250 Rs. 1.50/unit
#An additional surcharge of 20% is added to the bill
unit=int(input('enter the electric unit charge'))
if unit<=50:
    cost=unit*0.50
elif unit<=150:
    cost=50*0.50+(unit-50)*0.75
elif unit<250:
    cost=50*0.50+100*0.75+(unit-100)*1.20
else:
    cost=50*0.50+100*0.75+100*1.20+(unit-100)*1.50
surcharges=cost*20/100
Total_charges=cost+surcharges
print(Total_charges)

enter the electric unit charge300
624.0

In [4]:
#Accept the age, gender (M, F), and the number of days and display the wages accordingly
#If the age does not fall in any range then display the following message: Enter
#appropriate age
#Age Sex Wage/day
#>=18 and <30 
#M 700
#F 750
#>=30 and <=40 
#M 800
#F 85
age = int(input("Enter age: "))
gender = input("Enter gender (M/F): ")
days = int(input("Enter number of days: "))
if 18<=age<=30:
    if gender=='male':
        wage_per_day=700
        total_wages = days * wage_per_day
        print(total_wages)
    elif gender=='female':
        wage_per_day=750
        total_wages = days * wage_per_day
        print(total_wages)
    else:
        print('invalid')
elif 30<=age<=40:
    if gender=='male':
        wage_per_day=800
        total_wages = days * wage_per_day      
        print(total_wages)
    elif gender=='female':
        wage_per_day=85
        total_wages = days * wage_per_day      
        print(total_wages)
else:
    print('invalid')

Enter age: 19
Enter gender (M/F): male
Enter number of days: 12
8400

In [14]:
#Construct a flowchart to calculate the electricity bill (Accept the number of units from the user) according to the following criteria:
#Unit Price
#First 100 units no charge
#Next 100 units Rs 5 per unit
#After 200 units Rs 10 per unit
#(For example if input unit is 350 then total bill amount is Rs2000)
units = int(input("Enter the number of units: "))
total_bill=0
if units > 100:
    total_bill += (units - 100) * 0
    print(total_bill)
elif units > 200:
    total_bill += (units - 200) * 5
    print(total_bill)
elif units > 300:
    total_bill += (units - 300) * 10
    print(total_bill)
else:
    print('invalid')

Enter the number of units: 123
0

In [16]:
#Accept the number of days from the user and calculate the charge for the library according to the following:
#First five days: Rs 2/day.
#Next 5 days: Rs 3/day.
#Next 5 days: Rs 4/day
#After 15 days: Rs 5/day
days=int(input('enter the number'))
total_charges=0
if days<=5:
    total_charge = days * 2
    print(total_charge)
elif days<=10:
    total_charge = (5 * 2) + (days - 5) * 3
    print(total_charge)
elif days<=15:
    total_charge =(5*2)+(5*3)+(days-10)*4
    print(total_charge)
else:
    total_charges=(5*2)+(5*3)+(5*4)+(days-15)*5
    print(total_charge)

enter the number15
45

In [11]:
#You have denominations of rupee notes in the following form1, 2, 5, 10, 20, 100, 200, 500, 2000. Take any amount from the user and print the minimum number of notes needed to add up to that number.
a=int(input('enter the number'))
l=m=n=o=p=q=r=s=t=0
if a >=2000:
    l=a//2000
    a=a%2000
if a>=500:
    m=a//500
    a=a%500
if a>=200:
    n=a//200
    a=a%200
if a>=100:
    o=a//100
    a=a%100
if a>=20:
    p=a//20
    a=a%20
if a>=10:
    q=a//10
    a=a%10
if a>=5:
    r=a//5
    a=a%5
if a>=2:
    s=a//2
    a=a%2
if a>=1:
    t=a//1
    a=a%1
    
    
Total=l+m+n+o+p+q+r+s+t
print(Total)

enter the number2000
1

In [18]:
#Construct a flowchart to categorize the shape of a quadrilateral as either a square, rhombus, rectangle, parallelogram, or irregular quadrilateral, having input the lengths of the four sides and one internal angle.
a=float(input('enter the length'))
b=float(input('enter the length'))
c=float(input('enter the length'))
d=float(input('enter the length'))
angle=int(input('enter the angle'))

if a==b==c==d :
    if angle==90:
        print('square')
    else:
        print('rohmbus')
elif a==c and  b==d:
    if angle==90:
        print('rectangle')
    else :
        print('parallelogram')
else:
    print('irregular quadrilateral')

enter the length3
enter the length4
enter the length3
enter the length4
enter the angle90
rectangle

In [24]:
#The grades in a certain class are determined by coursework and a written examination.
#Both components of the assessment carry a maximum of 50 points.
#(i) A student must score a total of 45% or more in order to pass
#(ii) A total grade of 44% is moderated to 45%
#(iii) Each component must be passed with a minimum of 20 points
#(iv) If a student scores 45% or more, but does not achieve the minimum grade in
#one component, he is given a technical fail of 44%, which is not moderated to 45%.
#Print whether the student has passed or failed and also the course total.
coursework_examination=float(input('enter the number'))
written_examination=float(input('enter the number'))
p=(coursework_examination+written_examination)/100*100
if coursework_examination>=20:
    if written_examination>=20:
        if p>=45:
            print('pass')
        elif p>=44:
            print('moderate')
        else:
            print('fail')
    else:
        print('technical fail')
elif p>=45:
    print('technical fail')
else:
    print('fail')

enter the number50
enter the number50
pass

In [28]:
#The following rules are used to calculate the bonus for the employees of an organization.
#(i) If the pay is more than $3,000, the bonus amount is fixed, and it is equal to $300.
#(ii) If the pay is more than $1,600, but less than or equal to $3,000, the bonus will be 10% of the pay subject to a maximum of $240.
#(iii) If the pay is less than or equal to $1,600, the bonus is 15% of pay, subject to a minimum of $100.
s=int(input('enter the salary amount'))
if s>3000:
    Total_salary=s+300
    print(Total_salary)
elif 1600<=s<=3000:
        Total_salary=s+10/100+240
        print(Total_salary)
else:
        Total_salary=s+15/100+100
        print(Total_salary)

enter the salary amount1500
1600.15

In [1]:
#A certain steel is graded according to the following conditions:
#(i) Rockwell-hardness > 50
#(ii) Carbon content > 0.7
#(iii) Tensile strength > 5600 kg/cm2
#a. Grade 10, if all the conditions are satisfied
#b. Grade 9, if conditions (i) and (ii) are satisfied
#c. Grade 8, if conditions (ii) and (iii) are satisfied
#d. Grade 7, if conditions (i) and (iii) are satisfied
#e. Grade 0, otherwise
a=int(input('enter the Rockwell-hardness=a,:-'))
b=int(input('enter the Carbon content=b,:-'))
c=int(input('enter the Tensile strength=c,:-'))
a>50
b>0.7
c>5600
if a>50 and b>0.7 and c>5600:
    print('Grade 10')
elif a>50 and b>0.7:
    print('Grade 9')
elif b>0.7 and c>5600:
    print('Grade 8')
elif a>50 and c>5600:
    print('Grade 7')
else:
    print('Grade 0')

enter the Rockwell-hardness=a,:-55
enter the Carbon content=b,:-34
enter the Tensile strength=c,:-5680
Grade 10

In [4]:
#Find whether a given year is a leap year.
#(Hint. A year is said to be a leap year if it is either divisible by 4 but not by 100 or divisible by 400.)
year=int(input('enter the year'))
if year%4==0 or year%400==0 or year%100!=0:
    print('leap year')
else:
    print('not a leap year')

enter the year2024
leap year

In [9]:
#Write a program to check if the given number is divisible by 5, 11, both or none.
#a. If it is divisible by 5 then print 5
#b. If it is divisible by 11 then print 11
#c. If it is divisible by 5 and 11 then print Both
#d. If it is not divisible by 5 and 11 then print None
a=int(input('enter the number'))
if a%5==0 and a%11==0:
    print("both")
elif a%5==0:
    print(5)
elif a%11==0:
    print(11)
else:
    print('none')

enter the number23
none

In [13]:
#Find the second max of 3 numbers.
a=int(input('enter the number:-'))
b=int(input('enter the number:-'))
c=int(input('enter the number:-'))
if a>b:
    max=a
    smax=b
else:
    max=b
    smax=a
if c>max:
    max1=c
    smax1=max
else:
    max1=max
    smax1=c
if smax>smax1:
    print(smax)
else:
    print(smax1)

enter the number:-00
enter the number:-00
enter the number:-00
0

In [19]:
# Find the second max of 4 numbers
a=int(input('enter the number:-'))
b=int(input('enter the number:-'))
c=int(input('enter the number:-'))
d=int(input('enter the number:-'))
if a>b:
    max=a
    smax=b
else:
    max=b
    smax=a
if c>d:
    max1=c
    smax1=d
else:
    max1=d
    smax1=c
if max>max1:
    if max1>smax:
        print(max1)
    else:
        print(smax)
else:
    if max>smax1:
        print(max)
    else:
        print(smax1)

enter the number:-9
enter the number:-8
enter the number:-6
enter the number:-7
8

In [22]:
#Find the third max of 4 numbers.]
a=int(input('enter the number:-'))
b=int(input('enter the number:-'))
c=int(input('enter the number:-'))
d=int(input('enter the number:-'))
if a<b:
    min=a
    smin=b
else:
    min=b
    smin=a
if c<d:
    min1=c
    smin1=d
else:
    min1=d
    smin1=c
if min<min1:
    if min1<smin:
        print(min1)
    else:
        print(smin)
else:
    if min<smin1:
        print(min)
    else:
        print(smin1)

enter the number:-1
enter the number:-2
enter the number:-3
enter the number:-4
2

# LOOP ASSIGNMENT

In [24]:
#Draw a flowchart to find the sum of the first n natural numbers, where n is any given integer.
n=int(input('enter the number'))
i=1
sum=0
while i<=n:
    sum+=i
    i+=1
print(sum)

enter the number5
15

In [36]:
#Draw a flowchart to find the sum of the first 15 even natural numbers.
n=int(input("enter n number:-"))
i=2
sum=0
while i<=n:
    if i%2==0:
        sum=sum+i
    i+=2
        
print(sum)

enter n number:-30
240

In [4]:
#Construct a flowchart to show how consecutive even numbers starting from 2 are summed up until the sum just exceeds 1000 and then show the sum and the number of even numbers added.
n=int(input("enter the number"))
i=2
sum=0
for i in range(2,n+1):
    if i%2==0:
        sum+=i
    i+=1
print(sum)

enter the number10
30

In [ ]:
#Construct a flowchart to print the numbers below 100 that are divisible by 7.
i=1
while i<100:
    if i%7==0:
        print(i)
        i+=1

In [3]:
#Construct a flowchart to show how to find the product of n natural numbers.

n=int(input("enter n namber:- "))
p=1

for i in range(1,n+1):
    p=p*i
    
    
print(p)

enter n namber:- 5
120

In [8]:
a=[2,3,4,5]
max_value=max([x for x in a if x%2==0])

print(max_value)

4

In [ ]:
#Draw a flowchart to show how to find all even natural numbers that are divisible by 7 in
#a given range. (Input lower and upper limit of the range from the user)
lower_limit=int(input("enter the number"))
upper_limit=int(input("enter the number"))
i=lower_limit
while i<=upper_limit:
    if i%2==0:
        if i%7==0:
            print(i)           
        else:
            print("invalid")

In [2]:
LL=int(input("enter the number"))
UL=int(input("enter the number"))
i=LL
for i in range(LL,UL+1):
    if i%2==0 and i%7==0:
        

        print(i)
i+=1

enter the number12
enter the number24
14

In [5]:
#Construct a flowchart to find the sum of the squares of the first 9 natural numbers that are divisible by 3.
a=int(input('enter the number:-'))
i=1
sum=0
for i in range(1,a+1):
    if i%3==0:
        p=i**2
        sum=sum+p
        
i+=1
print(sum)

enter the number:-9
126

In [14]:
#Construct a flowchart to calculate the sum of the following series where n is input. 1 + 1/2 + 1/3 + 1/4 + 1/5 +1/n
n=int(input('enter the number ,a :-'))
i=1
sum=0
for i in range(1,n+1):
    sum=sum+1/i
    
i+=1 
print(sum)

enter the number ,a :-90
5.082570602848516

In [16]:
#Construct a flowchart to show how to find the sum of all the numbers that are divisible
#by P but not divisible by Q within a given range. (Input lower limit, upper limit, P, and Q from the user)
ll=int(input("enter the number"))
ul=int(input("enter the number"))
p=int(input('enter the number'))
q=int(input('enter the number'))
i=ll
sum=0
for i in range(1,ul+1):
    if i%p==0 and i%q==0:
        sum=sum+i
        
        print(sum)
i+=1

enter the number1
enter the number10
enter the number2
enter the number3
6

In [ ]:
#Draw a flowchart to show how to obtain the HCF and LCM of two numbers. (input two numbers from the user)
a=int(input("enter the number"))
b=int(input("enter the number"))
if a>b:
    max=a
else:
    max=b
i=max
while

In [2]:
#Draw a flowchart to show how the sum of the digits of a given number can be obtained. (Input the number from the user)
n=int(input("enter the number"))
sum=0
while n>0:
    a=n%10
    sum+=a
    n=n//10
print(sum)

enter the number534
12

In [3]:
# Draw a flowchart to show the logic of obtaining the reversed form of a given whole number. (Input the number from the user)
n=int(input("enter the number"))
sum=0
while n>0:
    a=n%10
    sum=sum*10+a
    n=n//10
print(sum)

enter the number12
21

In [5]:
#Construct a flowchart to show how the factors of a given number can be obtained. (Input the number from the user)
n=int(input("enter the number"))
i=1
for i in range(1,n+1):
    if n%i==0:
        print(i)
i+=1

enter the number12
1
2
3
4
6
12

In [10]:
# Construct a flowchart to show how to determine whether a given number is a perfect number. (Input the number from the user) Note: A number is said to be a perfect number if the sum of its factors (except itself) equals the number.
n=int(input("enter the number "))
i=1
sum=0
while i<n:
    if n%i==0:
        sum+=i
    i+=1
if sum==n:
    print("Given number is perfect number")

else:
    print(" Not a perfect number")

enter the number 6
Given number is perfect number

In [11]:
#Construct a flowchart to show how you can decide if a given number is prime or not. (Input the number from the user)
n=int(input("Enter the number"))
i=1
c=0
while i<=n:
    if n%i==0:
        
        print("Not prime")
    i+=1
print("Prime Number")

Enter the number3
Not prime
Not prime
Prime Number

In [6]:
#Construct a flowchart to find out the sum of first N terms of the following series. 5 + 55 + 555 + 5555 + .......... up to N terms.
n=int(input('enter the number'))
i=1
r=0
sum=0
while i<=n:
    r=r*10+5
    sum=sum+r
    i+=1
print(sum)

enter the number5
61725

In [ ]:
#Construct a flowchart to print multiplication tables from 1 to 5.
n=int(input("enter the number"))
i=1
while i<=n:
    c=1
    if c<=10:
        p=i*c
        print(p)
        c=c+1
    i+=1

In [4]:
#Develop a flowchart to show how to find all the perfect numbers under 10,000.
i=1
sum=0
while i<10000:
        j=1
        sum=0
        while j<i:
            if i%j==0:
                sum+=j
            j+=1
        if i==sum:
            print(i)
        i+=1

6
28
496
8128

In [4]:
#Develop a flowchart to show how to determine all the 3-digit Armstrong numbers. A number is called an Armstrong number if the sum of the values of the digits each raised to the power equal to the number of digits in the number equals the number. For example, 153 is an Armstrong number, because 153 = 1
m=int(input("enter the number"))
n=int(input("enter the number"))
while m<n:
    temp=m
    a=m
    c=0
    while a>0:
        a=a//10
        c=c+1
    sum=0
    while temp>0:
        r=temp%10
        sum=sum+r**c
        temp=temp//10
    if m==sum:
        print("yes",m)
    m+=1

enter the number100
enter the number200
yes 153

In [11]:
#Develop a flowchart to show how to determine all the 3-digit Armstrong numbers. A
#number is called an Armstrong number if the sum of the values of the digits each raised
#to the power equal to the number of digits in the number equals the number.
n=int(input('enter the number'))
sum=0
temp=n
c=0
while n>0:
    r=n%10
    n=n//10
    t=r*r*r
    sum=sum+t
    
if sum==temp:
    print("armstrong number")
else:
    print("not")

enter the number153
armstrong number

In [ ]:
#Some three-digit numbers show the property that the sum of the factorials of the digits equals the numbers, for example, 145 = 1! + 4! + 5!. Develop a flowchart to show how to determine all such numbers
n=int(input("enter the number"))
sum=0
fact=1
i=n
while i>0:
    a=i%10
    while a>0:
        fact=fact*a
        a=a-1
    sum=sum+fact
    i=n//10
if sum==n:
    print(sum)

In [11]:
#Create a pyramid of numbers consisting of a given number of lines. For example, if the given number is 5, then we should see the following:
#1
#1 2 1
#1 2 3 2 1
#1 2 3 4 3 2 1
#1 2 3 4 5 4 3 2 1
n=int(input("enter the number:n"))
i=1
for i in range(1,n+1):
    j=1
    while j<=n-i:
        print(end=" ")
        j=j+1
    k=1
    while k<=i:
        print(k,end="")
        k=k+1
    a=k-2
    while a>=i:
        print(a,end="")
        a=a-1
    i+=1

enter the number:n5
    1   12  123 123412345

In [17]:
for i in range(1,n+1):
    print('i'*i)

i
ii
iii
iiii
iiiii

In [8]:
#12345
#2345
#345
#45
#5
n=int(input("enter the number:"))
i=1
while i<=n:
    j=i
    while j<=n:
        print(j,end="")
        j=j+1
    print()
    i+=1

enter the number:5
12345
2345
345
45
5

In [7]:
#1
#12
#123
#1234
#12345
n=int(input("enter the number:"))
i=0
while i<n:
    j=i
    while j>=0:
        print(j+1,end="")
        j=j-1
    print()
    i+=1

enter the number:4
1
21
321
4321

In [13]:
#54321
#4321
#321
#21
#1
n=int(input("enter the number"))
a=int(input('enter the value'))
i=1
while i<=n:
    j=a
    while j>=i:
        print(j,end="")
        j=j-1
    print()
    i=i+1
    a=a-1

enter the number5
enter the value5
54321
432
3

In [14]:
n=int(input("enter the number:"))
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end="")
    print()

enter the number:5
54321
4321
321
21
1

In [7]:
#1
#10
#101
#1010
#10101
n=int(input("enter the value"))
i=1
while i<=n:
    j=1
    k=1
    while j<=i:
        
        x=k%2
        print(x,end="")
        k=(k+1)%2
        j+=1
    print()
    i+=1

enter the value5
1
10
101
1010
10101

In [1]:
#1
#10
#101
#1010
#10101
n=int(input("enter the number"))
i=1
while i<=n:
    j=1
    while j<=i:
        r=j%2
        print(r,end="")
        j=j+1
    print()
    i=i+1

enter the number5
1
10
101
1010
10101

In [3]:
#1
#01
#101
#0101
#10101
n=int(input("enter the number"))
for i in range(1, n + 1):
        for j in range(1, i + 1):
            if (i + j) % 2 == 0:
                print("1", end="")
            else:
                print("0", end="")
        print()

enter the number5
1
01
101
0101
10101

In [ ]:
n=int(input("enter the number"))
i=1
while i<=n:
    j=1
    while j<=i:
        if (i+j)%2==0:
            print("1",end="")
        else:
            print("0",end="")
            j=j+1
    print()
    i+=1

In [4]:
#*
#**
#***
#****
n=int(input("enter the number"))
for i in range (1,n+1):
    print("*"*i)

enter the number3
*
**
***

In [11]:
#* * *
#*
#* * *
#    * 
#* * *
n=int(input("enter the number:"))
for i in range(1,n+1):
    for j in range(1,n+1):
        if i==1 or j==1 or i==n:
            print("*",end="")
        print(end=" ")
        j=j+1
    print()
    i=i+1
for a in range(1,n):
    for b in range(1,n+1):
        if  a==n-1 or b==n:
            print("*",end="")
        print(end=" ")
        b=b+1
    print()
    a=a+1

enter the number:3
* * *
*
* * *
  *
* * *

In [ ]:
# Construct a flowchart to input a positive integer. If the number is even, add up its digits. Otherwise, multiply the individual digits and print the result.
a=int(input("enter the positive integer:"))
num=a
while a>0:
    if num%2==0:
        sum=0
    
        r=num%10
        sum=sum+r
        num=num//10
print(sum)
    else:
        product=1
        r=num%10
        product*=r
        num=num//10
print(product)

#

In [5]:
#Construct a flowchart to determine the maximum and the minimum out of n given numbers.
n=int(input("enter the number"))
max=int(input("enter the number"))
min=int(input("enter the number"))
if min>max:
    t=max
    max=min
    min=max
i=1
while i<=n-2:
    a=int(input("enter the number"))
    if a>max:
        max=a
    elif a<min:
        min=a
    i=i+1
print(max)
print(min)

enter the number2
enter the number3
enter the number4
4
4

In [4]:
a=int(input("positive integer:"))
num = a
digit_sum = 0
digit_product = 1

while num > 0:
    if num % 2 == 0:
        r = num % 10
        digit_sum += r
    else:
        r = num % 10
        digit_product *= r
    num = num // 10

print(digit_sum)
print(digit_product)

positive integer:34
4
3

In [10]:
a=int(input("enter the number:-"))

if a%2==0:
    x=a
    sum=0
    while x>0:
        r=x%10
        sum=sum+r
        x=x//10
    print(sum)
    
else:
    x=a
    p=1
    while x>0:
        r=x%10
        p=p*r
        p=p//10
    print(p)

enter the number:-34
7